*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0582f0;
}
.container{
    background: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    max-width: 600px;
    max-height: 600px;
}
.img-container{
    max-width: 550px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-sizing: inherit;
}
.img-container img{
    width: 100%;
    display: block;
    position: absolute;
    transition: all 0.03s linear;
}
.img-container img:hover{
    cursor: zoom-in;
}
/* .img-container span{
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.6);
    display: block;
    padding: 0.6rem 1rem;
    font-weight: bold;
    color: #eee;
    text-align: center;
    font-family: sans-serif;
} */

.list-products{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.list-products li{
    width: 22%;
    cursor: pointer;
    overflow: hidden;
}
img{
    width: 100%;
}
.list-products li.active{
    padding: 0.15rem;
    border: 1px solid #00aeff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}